@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --radius: 10px;
    --dark-background-color: #1F2937;
    --dark-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7Eb;
    --hero-main-text-color: #F9FAF8;
    --quote-section-background-color: #E5E7EB;
    --quote-section-text-color: #1F2937;
}

body {
    font-family: "Roboto";
}

button {
    font-family: "Roboto";
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    background-color: #3882F6;
    color: white;
    padding: 10px 50px;
    border-radius: var(--radius);
}

button:hover, button:active {
    filter: brightness(110%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    padding: 50px;
}

.hero {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.header a {
    color: var(--hero-secondary-text-color);
}
.header {
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    color: var(--hero-main-text-color);
    font-weight: 900;
    align-self: stretch;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
    font-weight: 300;
    color: var(--hero-secondary-text-color);
}
.hero-main {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.hero-left, .hero-right {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.hero-left {
    justify-content: flex-start;
    align-items: flex-start;
}

.hero-left h1 {
    font-size: 48px;
    color: var(--dark-text-color);
    font-weight: 900;
}

.hero-left p {
    font-size: 18px;
}